* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000d6;
}
.container {
  width: 300px;
  height: 150px;
  background-color: #00afaf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .icons i {
   position: relative;
}
.container .icons i:not(:first-child){
    color: yellow;
}
.container .stars > i {
    cursor: pointer;
  color: aliceblue;
}

.angry {
  color: red;
}

@keyframes move {
  50% {
    left: 2px;
  }
  100% {
    right: 2px;
}
}
