* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body{
  background-color: #d9ffd9;
  /* color: white; */
  height: 100vh;
  padding: 100px 0;
  width: 100vw;
  text-align: center;
}
.one{
  width: fit-content;
  background-color: #b8ffff;
  margin: 20px auto;
  padding: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}
.description{
  font-size: 30px;
}
.target{
  font-size: 30px;
}
.container{
  display: flex;
  justify-content: space-evenly;
  line-height: 1.7;
  padding: 40px;
  font-weight: bold;
  font-size: 20px;
}
.container > div{
  padding: 40px;
  background-color: aqua;
}